/postgresql-9.4-1201.jdbc4.jar
/commons-codec-1.6.jar
/commons-csv-1.0.jar
/commons-lang3-3.3.2.jar
/httpclient-4.2.6.jar
/httpclient-cache-4.2.6.jar
/httpcore-4.2.5.jar
/jackson-annotations-2.3.0.jar
/jackson-core-2.3.3.jar
/jackson-databind-2.3.3.jar
/jcl-over-slf4j-1.7.6.jar
/jena-arq-2.13.0.jar
/jena-core-2.13.0.jar
/jena-iri-1.1.2.jar
/jena-tdb-1.1.2.jar
/jsonld-java-0.5.1.jar
/libthrift-0.9.2.jar
/log4j-1.2.17.jar
/slf4j-api-1.7.6.jar
/slf4j-log4j12-1.7.6.jar
/xercesImpl-2.11.0.jar
/xml-apis-1.4.01.jar
